.listCard {
    margin-left: -20px;
    display: flex;
    width: 18rem;
    max-width: 650px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.row0{
    min-width: 12rem;
}

.name {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    font-size: 17px;
    margin-bottom: 2px;
    font-weight: 550;
    padding-left: 3px;
}

.row1 {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    height: 20px;
    margin-bottom: 5px;
    padding-left: 3px;
}

.row2 {
    display: flex;
    width: 100%;
    height: 28px;
}

.divider {
    margin-left: 5px;
    margin-right: 5px;
}

.closed {
    color: #DE2C2C;
    align-items: center;
    margin-right: 5px;
    font-weight: 500;
}

.distance {
    margin-left: 0px !important;
    font-weight: 600 !important;
    font-size: 20px;
}

.rating{
    color: #EDC139;
    margin-right: 4px !important;
    margin-left: auto !important;
    font-size: 20px;
    margin-top: -3px;
}

.hours {
    align-items: center;
    font-size: 12px;
    margin-top: 0px !important;
    margin-left: 4px !important;
}

.type {
    display: flex;
    margin-top: 2px !important;
    font-size: 12px !important;
}

.price {
    display: flex;
    margin-top: 2px !important;
    font-size: 12px !important;
}

.leftAlign {
    display: flex;
    margin-left: 0!important;
    padding-left: 3px;
}

.cardHeader{
    padding-right: 10px !important;
    padding-top: 10px !important;
}

.heartIcon {
    margin-left: auto; 
}

h3.detailName {
    font-weight: 600;
}

.detailHeader {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px !important;
}

.openChip {
    color: #5BC14A;
}

.closedChip {
    color: #DE2C2C;
}

.detailChips {
    margin-left: 5px
}

.callIcon {
    height: 35px;
    padding-top: 13px;
}

.callButton {
    text-transform: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #00346A;
    color: white;
    margin-right: 7px;
    max-height: 80px;
    min-height: 70px;
}

.callText {
    padding-top: 2px;
    font-size: medium;  
}

.callAndWeb {
    display: flex;
    flex-direction: row;
}

.webButton {
    text-transform: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 80px;
    min-height: 70px;
    width: 50%;
    background-color: #D4D4D8;
    color: #00346A;
    margin-left: 7px;
}

.webIcon {
    height: 35px;
    padding-top: 13px;
}

p.webText {
    margin-top: 2px;
    font-size: medium;
}

.imageCarousel{
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 250px;
}

.ratingsAndReview{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
}

.ratingsHeader {
    font-weight: 700;
    color: #00346A;
}

.reviewCard {
    margin-top: 10px;
    width: 40%;
    max-width: 200px;
    min-width: 130px;
    aspect-ratio: 1 !important;
    height: 157px !important;
}

.addReview{
    margin-left: auto !important;
}

.ratingCardFooter {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
}

.ratingModule {
    margin-bottom: 5px;
    margin: auto;
}

.ratingAndNum{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.averageRating {
    margin-left: 25px;
    margin-top: 3px;
    font-weight: 600;
}

.numReviews {
    display: flex;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
}

.ratingReviewRow1{
    display: flex;
    flex-direction: row;
}

.ratingReviewRow2 {
    display: flex;
    flex-direction: row;
    height: fit-content;
    overflow-x: scroll;
}

.reviewsCarousel{
    display: flex;
}

.modalBody{
    margin-bottom: 10px;
}
